<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div><h1>Hello User!</h1></div>
<div>
    <h3>List of tasks:</h3>
    <ol>
        <li>task1</li>
        <li>task2</li>
        <li>task3</li>
        <li>task4</li>
        <li>task5</li>
    </ol>
</div>
<div>
    <h3>Messages Wall</h3>
    <br>
    <br>
    <p2>Message 1</p2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p2>Message 2</p2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p2>Message 3</p2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p2>Message 4</p2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p2>Message 5</p2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

</body>
</html>